In [5]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

emp_info = {
    'Tom':{'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'},
    'Kathy':{'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}
}
            
# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

print(emp_info['Tom'])
print(emp_info['Kathy'])

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}

In [20]:
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}

d = {
    "emp1" : {'e_name' : 'John','e_id' : 'SG101', 'e_sal' : '$10,000'},
    "emp2" : {'e_name' : 'Smith','e_id' : 'SG102', 'e_sal' : '$9,000'},
    "emp3" : {'e_name' : 'Peter','e_id' : 'SG103', 'e_sal' : '$9,500'}
}

print(d)

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [25]:
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

print(f'Marks in history - {sampleDict["class"]["student"]["marks"]["history"]}')

Marks in history - 80

In [139]:
# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}

employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}
dct = {}
for e in employees:
    dct[e] = defaults

print(dct)
print('*'*2)
for d in dct:
    print(f"{d} - {dct[d]}")

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}
**
Kelly - {'designation': 'Application Developer', 'salary': 8000}
Emma - {'designation': 'Application Developer', 'salary': 8000}
John - {'designation': 'Application Developer', 'salary': 8000}

In [31]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.
def dna_bases(dna_template):
    dna = {
        'A': 'U',
        'T':'A',
        'C':'G',
        'G':'C'
    }
    dna_rna = []
    for d in dna_template:
        dna_rna += dna[d]
    return dna_rna

print(f"RNA bases for the DNA - {['A', 'T', 'C', 'G']} are {dna_bases(['A', 'T', 'C', 'G'])}")
# Use a dictionary to provide the mapping of DNA to RNA bases.

RNA bases for the DNA - ['A', 'T', 'C', 'G'] are ['U', 'A', 'G', 'C']

In [44]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

def count_letter(string):
    d = {}
    for s in string:
        k = d.keys()
        if s in k:
            d[s] += 1
        else:
            d[s] = 1       
    return d
print(count_letter('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [50]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

def dna_seq(baseComposition):
    dna = {'A':0,
              'C' : 0,
          "T" : 0, "G" : 0}
    for b in baseComposition:
        dna[b] += 1
    return dna
        
print(dna_seq("CTATCGGCACCCTTTCAGCA"))

{'A': 4, 'C': 8, 'T': 5, 'G': 3}

In [ ]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above. - This is correct as all the above statements are valid.

In [ ]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values()
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.Correct,as we get objects with above statements but id we want only [1,2]-list(d.values()).

In [ ]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) } - This is not valid, as we are using list.
# 4. d = { 1: 0.4 }
# 5. None of the above

In [140]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []

def reverseLookup(dictionary, value):
    return_list = []
    for d in dictionary:
        if dictionary[d] == value:
            return_list.append(d)
    return return_list

print(reverseLookup({'a':1, 'b':2, 'c':2}, 2))

['b', 'c']

In [141]:
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}

def invertDictionary(dc):
    out_d = {}
    for d in dc:
        valu_li = []
        keys = out_d.keys()
        valu_li = d
        if dc[d] not in keys:
             out_d.setdefault(dc[d],[]).append(valu_li)
        else:
            out_d.setdefault(dc[d],[]).append(valu_li)
    return out_d

print(invertDictionary({'a':1, 'b':2, 'c':3, 'd':2}))

{1: ['a'], 2: ['b', 'd'], 3: ['c']}

In [142]:
# Write a function that converts a sparse vector into a dictionary as described below.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}

def convertVector(lst):
    out = {}
    pos = 0
    for i in lst:
        if i == 0:
            pos +=1
            continue
        else:           
            out[lst.index(i, pos)] = i
            pos +=1
    return out
print(f'Input - {[1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0]} \n output - {convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])}')

Input - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1, 0]
 output - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}

In [166]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})

def convertDictionary(dc):
    keys = list(dc.keys())
    i=0
    out = []
    while i <= max(keys):
        if i in keys:
            out.insert(i,dc[i])
        else:
            out.insert(i,0)
        i +=1
    return out
            
print(convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1}))

[1, 0, 1, 0, 2, 0, 1, 0, 0, 1]

In [144]:
# Given a Python dictionary, Change Brad’s salary to 8500
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 6500}
# }

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
sampleDict['emp3']['salary'] = 8500
sampleDict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [146]:
# Get the key corresponding to the minimum value from the following dictionary
# sampleDict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }

# Expected Output
# Math
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
keys = list(sampleDict.keys())
values = list(sampleDict.values())
print(f"Key corresponding to the minimum value - {keys[values.index(min(values))]}")

Key corresponding to the minimum value - Math

In [148]:
# Rename key city to location in the following dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
# }

# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sampleDict['location'] = sampleDict['city']
del sampleDict['city']
sampleDict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [154]:
# Check if a value 200 exists in a dictionary
sampleDict = {'a': 100, 'b': 200, 'c': 300}

# Expected Output: True
values = list(sampleDict.values())
print(True if 200 in values else False)

True

In [155]:
# Delete set of keys from Python Dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}

for s in keysToRemove:
    sampleDict.pop(s)
sampleDict

{'age': 25, 'city': 'New york'}