In [1]:
a = -6
b = -6
print("ID: ",id(a))
print("ID: ",id(b))

a = -5
b = -5
print("ID: ",id(a))
print("ID: ",id(b))

ID:  4395403472
ID:  4395403696
ID:  4358763440
ID:  4358763440

In [10]:
lst = ['a','a',10,2,3,4,5,'a']

In [11]:
print(lst)

['a', 'a', 10, 2, 3, 4, 5, 'a']

In [12]:
lst.remove('a')

In [13]:
print(lst)

['a', 10, 2, 3, 4, 5, 'a']

In [18]:
print(list(range(-10,0)))
print(list(range(0, -10, -1)))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [1]:
se = 'abcd efs'
se[::-1]

'sfe dcba'

In [19]:
s =range(0, -10, -1)
id(s)

4395646576

In [22]:
#leap year check
num = int(input('Enter a number-'))
if(num%4) == 0:
    if(num%100) == 0 :
        if(num%400) == 0:
            print('Leap year')
        else:
            print('Not a leap year')
    else:
        print('Leap year')
else:
    print('Not a leap year')

Enter a number-2012
Leap year

In [25]:
print(type(eval('10+33')))

<class 'int'>

In [30]:
print(10,20,30, sep='-')
print(10, end=',')
print(10, end=',')
print(10, end=',')
print(10, end=',')
print(10, end=',')

10-20-30
10,10,10,10,10,

In [32]:
a, b = 10, 20
c = a+b
print(f'Sum of {a} and {b} is {c}')

print('Sum of {} and {} is {}'.format(a,b,c))

Sum of 10 and 20 is 30
Sum of 10 and 20 is 30

In [33]:
# if - else - elif
# 0-3 - 0 - ZERO, 1 - ONE

import time
def num_word():
    num = 1
    if num == 0:
        print('Zero')
    elif num == 1:
        print('ONE')
    elif num == 2:
        print('TWO')
    elif num == 3:
        print('THREE')
    elif num == 4:
        print("FOUR")
    elif num ==5:
        print("FIVE")
    elif num == 6:
        print("SIX")
    elif num == 7:
        print("SEVEN")
    elif num == 8:
        print("EIGHT")
    elif num == 9:
        print("NINE")
    else:
        print("NUMBER IS NOT IN RANGE 0-9")
st_time = time.time()
num_word()
e_time = time.time()
print(e_time-st_time)        
        
def num_word1():
    num = 0
    if num ==0:
        print('Zero')
    if num == 1:
        print('ONE')
    if num == 2:
        print('TWO')
    if num == 3:
        print('THREE')
    if num == 4:
        print("FOUR")
    if num ==5:
        print("FIVE")
    if num == 6:
        print("SIX")
    if num == 7:
        print("SEVEN")
    if num == 8:
        print("EIGHT")
    if num == 9:
        print("NINE")
    else:
        print("NUMBER IS NOT IN RANGE 0-9")
st_time = time.time()
num_word1()
e_time = time.time()
print(e_time-st_time)

ONE
0.0001881122589111328
Zero
NUMBER IS NOT IN RANGE 0-9
6.175041198730469e-05

In [34]:
lst = list(range(10))
for i in lst:
    if i == 6:
        print('skipping the current iteration')
        continue
        print('After continue')
    else:
        print(i)

0
1
2
3
4
5
skipping the current iteration
7
8
9

In [36]:
x = [1, 2]
y = [10, 100]
for i in x: 
    for j in y: 
        if i % 2 == 0: 
            break
            print(i * j)
        print(i)
    print(j)
    
1
1
100

1
1
100
10

100

In [37]:
# Q. Use continue statememnt properly. The code is:-
x = [1, 2]
y = [10, 100]

for i in x:
    for j in y:
        if i % 2 == 0:
            print(i * j)
            continue
        print(i)
    print(j)

# Output is:-
# 1
# 1
# 100
# 20
# 200
# 100

1
1
100
20
200
100

In [39]:
print('Flu√ü'.isascii())

True

In [41]:
s3 = 'Python23'
print(s3.isalnum())

True

In [48]:
print('2'.isdigit())
print('$34'.isnumeric())

True
False

In [51]:
'This Os Sswdsa'.istitle()

True

In [53]:
s = 'This is Python \nclass'
rs = r'This is Python \nclass'
print(s)
print(rs)
print(s.isprintable())
print(rs.isprintable())

This is Python
class
This is Python \nclass
False
True

In [54]:
# count, index, rindex, find, rfind
s = 'peter piper picked a peck of pickled peppers.'
print(s.count('p'))
print(s.count('pe'))
print(s.count('p', 8, 19))

9
5
2

In [3]:
d = {1:10,
     2:20,
    3:30}
for i in d:
    print(i,d[i])

1 10
2 20
3 30

In [ ]:
lst = eval(input("Enter values into list"))

In [11]:
lst = [10,2,3,4,5,6,[1,2,3]]
lst_new = lst
print(lst)
print(lst_new)

[10, 2, 3, 4, 5, 6, [1, 2, 3]]
[10, 2, 3, 4, 5, 6, [1, 2, 3]]

In [12]:
lst_new[0] = 'A'
print(lst)
print(lst_new)
lst_new[-1][1] = 2000
print(lst)
print(lst_new)

['A', 2, 3, 4, 5, 6, [1, 2, 3]]
['A', 2, 3, 4, 5, 6, [1, 2, 3]]
['A', 2, 3, 4, 5, 6, [1, 2000, 3]]
['A', 2, 3, 4, 5, 6, [1, 2000, 3]]

In [19]:
lst = [10,2,3,4,5,6,[1,2,3]]
lst_new = lst[::]
print(lst)
print(lst_new)

[10, 2, 3, 4, 5, 6, [1, 2, 3]]
[10, 2, 3, 4, 5, 6, [1, 2, 3]]

In [20]:
type(lst_new)

list

In [21]:
print(lst_new[-1][1])

2

In [22]:
lst_new[0] = 'A'
print(lst)
print(lst_new)
lst_new[-1][1] = 20
print(lst)
print(lst_new)

[10, 2, 3, 4, 5, 6, [1, 2, 3]]
['A', 2, 3, 4, 5, 6, [1, 2, 3]]
[10, 2, 3, 4, 5, 6, [1, 20, 3]]
['A', 2, 3, 4, 5, 6, [1, 20, 3]]

In [23]:
lst = [s for s in input()]

asd

In [27]:
list_str = list(map(str, input().split()))

abc def

In [28]:
list_str

['abc', 'def']

In [3]:
tup = eval(input('Enter a tuple:'))
print(tup,type(tup))

Enter a tuple:(1,2,3)
(1, 2, 3) <class 'tuple'>

In [8]:
tup = tuple([1,2,3,4,'psd',[1,2,3]])
print(tup, type(tup))

(1, 2, 3, 4, 'psd', [1, 2, 3]) <class 'tuple'>

In [12]:
tpl = 10,20,30

In [13]:
a,b,c = tpl

print(a,b,c)

10 20 30

In [40]:
d = eval(input('Enter the key-values for a dictionary:'))
print(d, type(d))

Enter the key-values for a dictionary:{1: 'sd', 2: 'sv'}
{1: 'sd', 2: 'sv'} <class 'dict'>

In [41]:
print(d.get(3,'This is key is not available!'))

This is key is not available!

In [42]:
print(d.setdefault(3))
print(d)

None
{1: 'sd', 2: 'sv', 3: None}

In [43]:
print(d.setdefault(4,'This is creaated from set-default'))
print(d)

This is creaated from set-default
{1: 'sd', 2: 'sv', 3: None, 4: 'This is creaated from set-default'}

In [23]:
d1 = {1:100, 'b':'abc'}
d2 = {1:'xyx', 2:200}

In [24]:
d1.update(d2)
print(d1)

{1: 'xyx', 'b': 'abc', 2: 200}

In [31]:
print(d1.pop('b','This key is already pop-ed'))
print(d1)

This key is already pop-ed
{1: 'xyx', 2: 200}

In [44]:
print(d)
print(d.popitem())
print(d)

{1: 'sd', 2: 'sv', 3: None, 4: 'This is creaated from set-default'}
(4, 'This is creaated from set-default')
{1: 'sd', 2: 'sv', 3: None}

In [45]:
print(d)

{1: 'sd', 2: 'sv', 3: None}

In [52]:
for i in d.items():
    print(i,type(i)) 
print(d.items(), type(d.items()))

(1, 'sd') <class 'tuple'>
(2, 'sv') <class 'tuple'>
(3, None) <class 'tuple'>
dict_items([(1, 'sd'), (2, 'sv'), (3, None)]) <class 'dict_items'>

In [51]:
for i in d.keys():
    print(i, type(i))
print(d.keys(), type(d.keys()))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>

In [53]:
for i in d.keys():
    print(i, type(i))
print(d.values(), type(d.values()))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
dict_values(['sd', 'sv', None]) <class 'dict_values'>

In [56]:
dfk = {}
print(dfk.fromkeys([1,2,3],10))

{1: 10, 2: 10, 3: 10}

In [60]:
print(list(enumerate(['a', 'b', 'c', 'e'])))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'e')]

In [61]:
print({c+1 : n for c, n in enumerate(['a', 'b', 'c', 'e'])})

{1: 'a', 2: 'b', 3: 'c', 4: 'e'}

In [12]:
'''This is 
Python 
class'''

'This is \nPython \nclass'

In [13]:

'''This is \
Python \
class'''

'This is Python class'

In [15]:
s = lambda a,b:a*b
print(s(3,2))

6

In [21]:
def add(*args):
    tot = 0
    for i in args:
        tot += i
    print(f'Sum-{tot}')

In [22]:
add(10, 20, 30)
add(12, 324, 354, 234, 1, 3453)

Sum-60
Sum-4378

In [35]:
def add_emp(**kwargs):
    for key in kwargs:
        print(f'{key} - {kwargs[key]}')

In [36]:
add_emp(name='check', roll = 123)
add_emp(name='test', roll = 456, add = 'hyd')
add_emp(name='tes1', roll = 789, add = 'bang', pin = 500090)

name - check
roll - 123
name - test
roll - 456
add - hyd
name - tes1
roll - 789
add - bang
pin - 500090